// ==========================================================================
//   Functions & Mixins
//
//   These functions & mixins will never be seen in final CSS,
//   so always use // comment
// ==========================================================================

// START WEB-ARCH ORIGINAL MIXINS.SCSS
@mixin clearfix() {
	&:before,
	&:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}
	&:after {
		clear: both;
	}
}

// Webkit-style focus
@mixin tab-focus() {
	// Default
	outline: thin dotted #333;
	// Webkit
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

// Center-align a block level element
@mixin center-block() {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Sizing shortcuts
@mixin size($width, $height) {
	width: $width;
	height: $height;
}


// Placeholder text
@mixin placeholder($color: $input-color-placeholder) {
	&:-moz-placeholder            { color: $color; } // Firefox 4-18
	&::-moz-placeholder           { color: $color; opacity: 1; } // Firefox 19+
	&:-ms-input-placeholder       { color: $color; } // Internet Explorer 10+
	&::-webkit-input-placeholder  { color: $color; } // Safari and Chrome
	&.placeholder       					{ color: $color; } // Fallback
}

// Placeholder text
@mixin selected($color, $background) {
	&::selection {
		background: $background; /* Safari */
		color: $color;
	}
	&::-moz-selection {
		background: $background; /* Safari */
		color: $color;
	}
}

@mixin placeholder-height($height) {
	&:-moz-placeholder {
		line-height: $height;
	}
	&::-webkit-input-placeholder {
		line-height: $height;
	}
	&.placeholder {
		line-height: $height;
	}
}

// Text overflow
// Requires inline-block or block for proper styling
@mixin text-overflow() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// CSS image replacement
@mixin text-hide() {
 // font: ~"0/0" a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

// CSS3 PROPERTIES
// --------------------------------------------------

@mixin mask($arguments) {
	-webkit-mask: $arguments;
					mask: $arguments;
}

// Single side border-radius
@mixin border-top-radius($radius) {
	border-top-right-radius: $radius;
	 border-top-left-radius: $radius;
}
@mixin border-right-radius($radius) {
	border-bottom-right-radius: $radius;
		 border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
	border-bottom-right-radius: $radius;
	 border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius) {
	border-bottom-left-radius: $radius;
		 border-top-left-radius: $radius;
}

// Drop shadows
@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
					box-shadow: $shadow;
}

@mixin animation($properties) {
	-webkit-animation: $properties;
		 -moz-animation: $properties;
			 -o-animation: $properties;
					animation: $properties;
}

// Transitions
@mixin transition($transition) {
	-webkit-transition: $transition;
					transition: $transition;
}
@mixin transition-property($transition-property) {
	-webkit-transition-property: $transition-property;
					transition-property: $transition-property;
}
@mixin transition-delay($transition-delay) {
	-webkit-transition-delay: $transition-delay;
					transition-delay: $transition-delay;
}
@mixin transition-duration($transition-duration) {
	-webkit-transition-duration: $transition-duration;
					transition-duration: $transition-duration;
}
@mixin transition-transform($transition) {
	-webkit-transition: -webkit-transform $transition;
		 -moz-transition: -moz-transform $transition;
			 -o-transition: -o-transform $transition;
					transition: transform $transition;
}

// Backface visibility
// Prevent browsers from flickering when using CSS 3D transforms.
// Default value is `visible`, but can be changed to `hidden`
// See git pull https://github.com/dannykeane/bootstrap.git backface-visibility for examples
@mixin backface-visibility($visibility){
	-webkit-backface-visibility: $visibility;
		 -moz-backface-visibility: $visibility;
					backface-visibility: $visibility;
}

// Background clip
@mixin background-clip($clip: border-box) {
	-webkit-background-clip: $clip;
		 -moz-background-clip: $clip;
					background-clip: $clip;
}

// Box sizing
@mixin box-sizing($boxmodel) {
	-webkit-box-sizing: $boxmodel;
		 -moz-box-sizing: $boxmodel;
					box-sizing: $boxmodel;
}

// User select
// For selecting text on the page
@mixin user-select($select) {
	-webkit-user-select: $select;
		 -moz-user-select: $select;
			-ms-user-select: $select; // IE10+
			 -o-user-select: $select;
					user-select: $select;
}

// Resize anything
@mixin resizable($direction) {
	resize: $direction; // Options: horizontal, vertical, both
	overflow: auto; // Safari fix
}

// CSS3 Content Columns
@mixin content-columns($column-count, $column-gap: $grid-gutter-width) {
	-webkit-column-count: $column-count;
		 -moz-column-count: $column-count;
					column-count: $column-count;
	-webkit-column-gap: $column-gap;
		 -moz-column-gap: $column-gap;
					column-gap: $column-gap;
}


// Opacity
@mixin opacity($opacity) {
	opacity: $opacity;
	// IE8 filter
	$opacity-ie: ($opacity * 100);
//  filter: ~"alpha(opacity=@{opacity-ie})";
}



// GRADIENTS
// --------------------------------------------------


	// Horizontal gradient, from left to right
	//
	// Creates two color stops, start and end, by specifying a color and position for each color stop.
	// Color stops are not available in IE9 and below.
	@mixin horizontal($start-color: #555, $end-color: #333, $start-percent: 0%,$end-percent: 100%) {
		background-image: -webkit-gradient(linear, $start-percent top, $end-percent top, from($start-color), to($end-color)); // Safari 4+, Chrome 2+
		background-image: -webkit-linear-gradient(left, color-stop($start-color $start-percent), color-stop($end-color $end-percent)); // Safari 5.1+, Chrome 10+
		background-image: -moz-linear-gradient(left, $start-color $start-percent, $end-color $end-percent); // FF 3.6+
		background-image:  linear-gradient(to right, $start-color $start-percent, $end-color $end-percent); // Standard, IE10
		background-repeat: repeat-x;
	 // filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb($start-color),argb($end-color))); // IE9 and down
	}

	// Vertical gradient, from top to bottom
	//
	// Creates two color stops, start and end, by specifying a color and position for each color stop.
	// Color stops are not available in IE9 and below.
	@mixin vertical($start-color: #555, $end-color: #333, $start-percent: 0%,$end-percent: 100%) {
		background-image: -webkit-gradient(linear, left $start-percent, left $end-percent, from($start-color), to($end-color)); // Safari 4+, Chrome 2+
		background-image: -webkit-linear-gradient(top, $start-color, $start-percent, $end-color, $end-percent); // Safari 5.1+, Chrome 10+
		background-image:  -moz-linear-gradient(top, $start-color $start-percent, $end-color $end-percent); // FF 3.6+
		background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10
		background-repeat: repeat-x;
		//filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb($start-color),argb($end-color))); // IE9 and down
	}

	@mixin directional($start-color: #555,$end-color: #333,$deg: 45deg) {
		background-repeat: repeat-x;
		background-image: -webkit-linear-gradient($deg, $start-color, $end-color); // Safari 5.1+, Chrome 10+
		background-image: -moz-linear-gradient($deg, $start-color, $end-color); // FF 3.6+
		background-image: linear-gradient($deg, $start-color, $end-color); // Standard, IE10
	}
	@mixin horizontal-three-colors($start-color: #00b3ee, $mid-color: #7a43b6, $color-stop: 50%, $end-color: #c3325f) {
		background-image: -webkit-gradient(left, linear, 0 0, 0 100%, from($start-color), color-stop($color-stop, $mid-color), to($end-color));
		background-image: -webkit-linear-gradient(left, $start-color, $mid-color $color-stop, $end-color);
		background-image: -moz-linear-gradient(left, $start-color, $mid-color $color-stop, $end-color);
		background-image: linear-gradient(to right, $start-color, $mid-color $color-stop, $end-color);
		background-repeat: no-repeat;
		//filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb($start-color),argb($end-color))); // IE9 and down, gets no color-stop at all for proper fallback
	}
	@mixin vertical-three-colors($start-color: #00b3ee, $mid-color: #7a43b6, $color-stop: 50%, $end-color: #c3325f) {
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from($start-color), color-stop($color-stop, $mid-color), to($end-color));
		background-image: -webkit-linear-gradient($start-color, $mid-color $color-stop, $end-color);
		background-image: -moz-linear-gradient(top, $start-color, $mid-color $color-stop, $end-color);
		background-image: linear-gradient($start-color, $mid-color $color-stop, $end-color);
		background-repeat: no-repeat;
	 //filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb($start-color),argb($end-color))); // IE9 and down, gets no color-stop at all for proper fallback
	}
	@mixin radial($inner-color: #555,$outer-color: #333) {
		background-image: -webkit-gradient(radial, center center, 0, center center, 460, from($inner-color), to($outer-color));
		background-image: -webkit-radial-gradient(circle, $inner-color, $outer-color);
		background-image: -moz-radial-gradient(circle, $inner-color, $outer-color);
		background-image: radial-gradient(circle, $inner-color, $outer-color);
		background-repeat: no-repeat;
	}
	@mixin striped($color: rgba(255,255,255,.15),$angle: 45deg) {
		background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, $color), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, $color), color-stop(.75, $color), color-stop(.75, transparent), to(transparent));
		background-image: -webkit-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
		background-image: -moz-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
		background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
	}

// END WEB-ARCH ORIGINAL MIXINS.SCSS