.nav {
	li {
		display: inline-block;

		a {
			display: inline-block;
		}
	}
}

.clients-search-results {
	list-style: none;
	padding: 0;

	.client {
		height: $header-height;
		padding: 0;
		position: relative;
		transition: height 0.5s ease;
		overflow: hidden;

		&.expanded {
			.subclients-list {

			}
		}

		.subclients-list {
			list-style: none;
			padding-left: 20px;
		}

		.client-label {
			display: block;
			margin-left: $page-padding;
			border-bottom: 1px solid $default-border-color;
			box-shadow: 0 1px 1px 0 $color-white;
			color: $base-font-color;
			transition: border 0.3s ease;

			&:hover {
				color: $color-primary;
				border-bottom: 1px solid $color-primary;
			}

			span {
				display: table-cell;
				vertical-align: middle;
				height: $header-height - 2px;
				color: inherit;
			}
		}

		.btn {
			position: absolute;
			right: 10px;
			top: 20px;
		}

		.btn + .client-label {
			padding-right: 40px; /*text avoid the expand button */
		}
	}
}